button.add-snippet-btn {
  background-color: rgba(37, 150, 190, 1);
  border-color: rgba(37, 150, 190, 1);
  color: #fff;
  font-size: 1.0rem;
}

button.add-snippet-btn:hover {
  background-color: rgba(103, 67, 215);
  color: #fff;
}

button.back-btn {
  background-color: transparent; 
  border: none;                 
  color: rgba(37, 150, 190, 1); 
  font-size: 1rem;
  cursor: pointer;
  padding: 0;                    
  transition: all 0.2s ease;
}

button.back-btn:hover {
  text-decoration: underline;    
  color: rgba(32, 130, 165, 1); 
}

textarea.form-control.dark-textarea {
  font-family: monospace;
  background-color: #1e1e1e;
  color: #d4d4d4;
  padding: 12px;
  border-radius: 4px;
  overflow-x: auto;
  border: 1px solid #444;
}

textarea.form-control.dark-textarea::placeholder {
  color: #888; 
  opacity: 1;  
}

button.copy-btn {
  text-decoration: none;
  color: black;
  cursor: pointer;
}

button.copy-btn:hover {
  text-decoration: underline;
  color: black 
}

.snippet-card-wrapper .card {
  transition: transform 0.2s, box-shadow 0.2s;
}

.snippet-card-wrapper .card:hover {
  transform: translateY(-5px); 
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15); 
}

button.btn-brand,
a.btn-brand {
  background-color: rgba(103, 67, 215);
  border-color: rgba(37, 150, 190, 1);
  color: #fff;
  display: inline-block; /* ensures links behave like buttons */
  text-align: center;
  text-decoration: none; /* remove underline */
  padding: 0.375rem 0.75rem;
  border-radius: 0.25rem;
  border: 1px solid;
}

button.btn-brand:hover,
a.btn-brand:hover,
.btn-brand:focus,
a.btn-brand:focus {
  background-color: rgba(32, 130, 165, 1); 
  border-color: rgba(32, 130, 165, 1);
  color: #fff;
}

button.btn-brand:disabled,
a.btn-brand:disabled {
  background-color: rgba(37, 150, 190, 0.6);
  border-color: rgba(37, 150, 190, 0.6);
  color: #fff;
}

/* Outline brand button */
a.btn-brand-outline,
button.btn-brand-outline {
  background-color: transparent;
  border: 2px solid rgba(103, 67, 215);
  color: rgba(103, 67, 215);
}

a.btn-brand-outline:hover,
button.btn-brand-outline:hover,
a.btn-brand-outline:focus,
button.btn-brand-outline:focus {
  background-color: rgba(37, 150, 190, 0.1);
  color: rgba(37, 150, 190, 1);
}